body {
    font-family: Arial, Helvetica, sans-serif;
}

.music-Player {
    height: 95vh;
    display: flex;
    border: 2px solid red;
    align-items: center;
    justify-content: center;


}

.music-wrapper {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Now-playing {
    font-size: 1rem;
}

.Track-name {
    font-size: 2.5rem;
}

.Track-artist {
    margin-top: 5px;
    font-size: 1.5rem;

}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    
}

.Repeat-track,
.Random-track,
.playpause-track,
.prev-track
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.Repeat-track:hover,
.Random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;

}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider,
.volume-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;

}

.slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;

}

.slider:hover,
.volume-slider:hover {
    opacity: 1.0;
}

.slider {
    width: 60%;
}

.volume-slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

i,
i.fa-play-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}
